{
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"plugins": [
		"react-app",
		"eslint-plugin-prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"arrowFunctions": true
		}
	},
	"rules": {
		"no-mixed-spaces-and-tabs": [
			2,
			"smart-tabs"
		],
		"quotes": [
			"error",
			"single"
		],
		"react/display-name": [
			0,
			{
				"ignoreTranspilerName": true
			}
		],
		"react/prop-types": 0,
		"no-unused-vars": "off",
		"object-shorthand": [
			2,
			"always"
		],
		"array-bracket-spacing": [
			2,
			"never"
		],
		"max-len": [
			2,
			200,
			{
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreComments": true
			}
		],
		"consistent-return": 0,
		"prefer-destructuring": [
			2,
			{
				"array": false,
				"object": false
			},
			{
				"enforceForRenamedProperties": false
			}
		],
		"prefer-object-spread": 0, // until node 8 is required
		"prefer-rest-params": 0, // until node 6 is required
		"prefer-spread": 0, // until node 6 is required
		"function-paren-newline": 0,
		"no-plusplus": 1,
		"no-param-reassign": 1,
		"strict": [
			2,
			"safe"
		],
		"valid-jsdoc": [
			2,
			{
				"requireReturn": false,
				"requireParamDescription": false,
				"requireReturnDescription": false
			}
		]
	},
	"overrides": [
		{
			"files": "tests/**",
			"rules": {
				"no-template-curly-in-string": 1
			}
		}
	],
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"node": {
				"extensions": [
					".ts",
					".tsx"
				],
				"paths": [
					"./src"
				]
			}
		}
	}
}